@model List<P4___Distributed_Fault_Tolerance.Models.Course>
<style>
    .btn {
        border: none;
        outline: none;
        background: linear-gradient(90deg, #087830, #005f29);
        padding: .375rem .75rem;
        border-radius: 10px;
        color: white;
        font-size: 1rem;
        text-decoration: none;
        line-height: 1.5;
        font-weight: 400;
    }
</style>
<h2>Enroll in Courses</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Course Code</th>
            <th>Course Name</th>
            <th>Section</th>
            <th>Units</th>
            <th>Capacity</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var course in Model)
        {
            <tr>
                <td>@course.CourseCode</td>
                <td>@course.CourseName</td>
                <td>@course.CourseSection</td>
                <td>@course.Units</td>
                <td>@(course.Students?.Count ?? 0) / @course.Capacity</td>
                <td>
                    <form asp-controller="Course" asp-action="EnrollStudent" method="post">
                        <input type="hidden" name="CourseId" value="@course.CourseId" />
                        <button type="submit" class="btn">Enroll</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
