@model List<P4___Distributed_Fault_Tolerance.Models.GradeModel>

<h2>Student's Grades</h2>

<input type="text" id="courseFilter" placeholder="Search by course name/course code..." style="width: 100%;" />

<table class="table table-striped" id="gradesTable">
    <thead>
        <tr>
            <th>ID Number</th>
            <th>Last Name</th>
            <th>First Name</th>
            <th>Course ID</th>
            <th>Course Code</th>
            <th>Course Name</th>
            <th>Grade</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var grade in Model)
        {
            <tr>
                <td>@grade.StudentId</td>
                <td>@grade.LastName</td>
                <td>@grade.FirstName</td>
                <td>@grade.CourseId</td>
                <td>@grade.CourseCode</td>
                <td>@grade.CourseName</td>
                <td>@grade.GradeValue</td>
            </tr>
        }
    </tbody>
</table>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function(){
        $("#courseFilter").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#gradesTable tbody tr").filter(function() {
                var cell5 = $(this).find("td").eq(4).text().toLowerCase();
                var cell6 = $(this).find("td").eq(5).text().toLowerCase();
                // Toggle the row if either cell contains the filter value
                $(this).toggle(cell4.indexOf(value) > -1 || cell5.indexOf(value) > -1);
            });
        });
    });
</script>
